@{
ViewData["Title"] = "All Movies";
}

<table class="table">
    <thead>
        <tr>
            <th class="text-center" scope="col">Id</th>
            <th class="text-center" scope="col">Title</th>
            <th class="text-center" scope="col">Year</th>
            <th class="text-center" scope="col">Clues</th>
        </tr>
    </thead>

    @foreach (var Movie in ViewBag.Movies)
    {
    <tr>
        <th>@Movie.MovieId</th>
        <td><a href="/movie/@Movie.MovieId">@Movie.Title</a></td>

        <td>@Movie.Year</td>
        <td>
            <ul>
            @foreach (var Clue in Movie.Clues)
            {
                <li>@Clue.ClueId : @Clue.ClueText</li>
            }
            </ul>
        </td>
    </tr>
    }
</table>