

<div class="row bg-primary border border-primary rounded-0" id="topHeader">
    <div class="col">
        <h3 class="marginFive"><b>The Awesome and/or Amazing Movie Game</b></h3>
        <p>(for serious players only)</p>
    </div>
</div>

<br>

<div class="row" id="EnterNameBox">
    <form action="EnterName" method="POST" class="enterNameForm bg-dark">
        <table>
            <tr>
                <td><input class="form-control" name="NameEntered" placeholder="Enter Your Name to Play" type="text"></td>
            </tr>
        </table>
        <br><p id="NameError">@ViewBag.ErrorMessage</p>
        <button class="btn btn-success">Click to Start Game</button>
    </form>
</div>

<div class="row">
    <div class="col-md-3"></div>
    <div class="col-md-6 col-sm-12">
        <table class="table table-sm leaderboard">
            <tr class="bg-primary">
                <td colspan="4">Top 10 Players</td>
            </tr>
            <tr>
                <th class="text-center">Rank</th>
                <th class="text-center">Player</th>
                <th class="text-center">Total Points</th>
                <th class="text-center">Games Played</th>
            </tr>
            @{
                var counter = 0;
                foreach(var Player in ViewBag.Leaders)
                {
                    <tr>
                        <td class="text-center">@(++counter)</td>
                        <td class="text-left text-primary">@Player.PlayerName</td>
                        <td class="text-center">@Player.Points</td>
                        <td class="text-center">@Player.GamesPlayed</td>
                    </tr>
                }
            }
        </table>
    </div>
    <div class="col-md-3"></div>
</div>