@model movieGame.Models.User

@{
ViewData["Title"] = "Leaderboard";
}

<table class="table text-center">
    <tr>
        <td colspan="5">Leaderboard</td>
    </tr>
    <tr>
        <th class="text-center">Rank</th>
        <th class="text-left">Player</th>
        <th class="text-center">Points</th>
        <th class="text-center">Games</th>
        <th class="text-center">Wins</th>
    </tr>
    @{ var counter = 0; foreach(var Player in ViewBag.Leaders) {
    <tr>
        <td class="text-center">@(++counter)</td>
        <td class="text-left text-primary">@Player.UserFirstName</td>
        <td class="text-center">@Player.Points</td>
        <td class="text-center">@Player.GamesAttempted</td>
        <td class="text-center">@Player.GamesWon</td>
    </tr>
    } }
</table>