@model movieGame.Models.Movie

@{
    Layout = "_Layout";
}


<p>
    <b>Movied ID: </b> @ViewBag.SessionMovieId_testing   |
    <b>Movie Title: </b> @ViewBag.SessionMovieTitle_testing |
    <b>Current Player Name: </b> @ViewBag.PlayerName
</p>

<br>
<table class="bg-pan-right">
    <tr>
        <td class="MovieGameHeaderTable"><h1><b>Movie Game</b></h1></td>
        <td class="HeaderLinks"><a href="/">Home</a></td>
        <td class="HeaderLinks"><a href="/clear">Start Over</a></td>
    </tr>
</table>
<hr class="linebreak2">

<div class="container-fluid">

    <div class="row">

        <div id="movieGuessSection" class="col-12" style="border: 1px solid black">
            <h4>Guess Movie</h4>

            <ul id="JQresponse">

            </ul>

            <!-- <div id="guessResponse">
                <p>@ViewBag.RemainingGuesses</p>
                <p>@ViewBag.GuessResponse</p>
            </div> -->



                <!-- <input type="text" id="movieGuessInput" name="movieGuessInput" placeholder="Enter Your Guess Here...">
                <br><br>
                <a href="#"><button class="btn btn-info" id="guessButton">Click to Guess</button></a> -->

            <form action="guessMovie" method="GET" id="guessMovie">

                <input type="text" id="movieGuessInput" name="movieGuessInput" placeholder="Enter Your Guess Here...">

                <br>
                <div class="searchResContainer">

                    <div id="div_content">

                        <ul id="searchResult"></ul>
                        <div class="clear"></div>
                        <div id="movieDetail"></div>

                    </div>

                </div>

                <br>

                <a href="#"><button class="btn btn-info" id="guessButton">Click to Guess</button></a>
            </form>

            <br>



            <!-- <div id="searchres"></div> -->



        </div>

    </div>

    <br>
    <hr class="linebreak3">

    <div class="row">

        <div id="clueSection" class="col">
            <h4>List of Clues</h4>

                <a href="#"><button class="btn btn-danger" id="getClue">Get Next Clue</button></a>
                <a href="/clear"><button class="btn btn-warning">Start Over</button></a>

                <br>




                <br>

                <div id="clueList2">
                    <div id="clueTable2">

                        <ul id="clueText" class="clueText2"></ul>

                    </div>
                </div>

        </div>

    </div>




</div>