@model User

@{
ViewData["Title"] = "User Profile";
}

<span><b>User: </b>@ViewBag.User.UserName</span>
<br>

<span><b>Won: </b>@ViewBag.User.GamesWon</span>
<br>

<span><b>Played: </b>@ViewBag.User.GamesAttempted</span>
<br>

<span><b>Points: </b>@ViewBag.User.Points</span>
<br>


<h3>@ViewBag.User.UserName has correctly guessed @ViewBag.User.GamesWon/@ViewBag.MovieCount movies.</h3>

<div class="row">
    @{
        var counter = -1;
        @foreach (var Movie in ViewBag.UserMovies)
        {
            <div class="col-sm-12 col-md-2">
                <div class="card border-dark mb-3 mx-auto" style="max-width: 18rem;">

                    <div class="card-header bg-dark border border-dark rounded-0 p-0 align-middle"><h5 class="text-center text-white card-title">@Movie.Title</h5></div>

                    <div class="card-body text-success">
                        <img class="card-img-top" src="@ViewBag.Poster" alt="Card image cap">
                    </div>

                    <div class="card-footer bg-transparent border-dark align-middle"><a href="/Movie/@Movie.MovieId" class="text-center">View Movie Details</a></div>

                </div>
            </div>
        }
    }
</div>