@{
ViewData["Title"] = "Movie Details";
}



<div class="text-white">
    <h4 class="text-center"><b>@ViewBag.Movies.Title</b></h4>
    <h4 class="text-center"><b class="text-center">@ViewBag.Movies.Year</b></h4>
</div>


<img src="@ViewBag.MoviePoster" style="display: block; margin-left: auto; margin-right: auto">

<br>
<b>Genre </b><br>
<span>@ViewBag.MovieGenre</span>
<br><br>

<b>Actors </b><br>
<span>@ViewBag.Actors</span>
<br><br>

<b>Director </b><br>
<span>@ViewBag.MovieDirector</span>
<br><br>

<b>Writer(s) </b><br>
<span>@ViewBag.MovieWriter</span>
<br><br>

<b>Clues</b>
<br><br>
<ul class="clueText" style="padding: 0px; margin: 0px">
    @foreach (var Clue in ViewBag.Movies.Clues)
    {
        <li>@Clue.ClueText</li>
    }
</ul>